extends /layout/web

block style
    link(rel="stylesheet", href="/static/css/home.css")

block script
    script(src="/static/js/home.js")

block body
    .container
        //- navbar
        .navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
            a.navbar-brand(href="#") NavBar
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon

            .collapse.navbar-collapse(id="navbarTogglerDemo01")
                .nav-item.active
                    a.nav-link(href="#") Home
                .nav-item
                    a.nav-link(href="#") Pricing
        
