html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        //- 
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title #{title}
        link(rel="stylesheet", href="/static/libray/bootstrap-4.5.3/bootstrap.min.css")
        block styles
        script.
            if (window) {
                window.__env = JSON.parse('!{JSON.stringify(__env)}')
            }
    body
        block wrap

        //- jquery
        script(src="/static/libray/jquery-3.2.1.js" )
        //- 最新的 Bootstrap4 核心 JavaScript 文件
        script(src="/static/libray/bootstrap-4.5.3/bootstrap.min.js" )
        block scripts