.page-header
    //- navbar
    .navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
        a.navbar-brand(href="#") logo-a
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        .collapse.navbar-collapse(id="header-navbar")
            .nav-item.active
                a.nav-link(href="/") 首页
            .nav-item
                a.nav-link(href="/test") 测试